<div class="hero-unit">
	<h1 ng-controller="userInfo">Manage Album.</h1>
</div>

<div ng-controller="videoInfo" class="span4">
	<form>
		Album Name: <input type="text" name="albumName"><br>
 		Description: <input type="text" name="description"><br>
  		<input type="submit" value="Submit">
	</form>
</div>
