<div class="hero-unit">
	<h1 ng-controller="userInfo">Manage {{name}}.</h1>
</div>
<div class="row" id="albums">
	<!-- SAMPLE IMAGE FOR angle.js work -->


	<!-- <div ng-controller="videoInfo" class="span4">
	<h2>Album Name</h2>
		<IMG style="WIDTH: 320px; HEIGHT: 240px" height=100 src="img/AliAndI.jpg" width=75 border=0>
	</div> -->


	<!-- END SAMPLE IMAGE -->
</div>
