
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Hello, photo lovers!</h1>
        <p>This is a simple photo uploading website,  making it easy for you to send photos around the world, which is great for keeping in touch with loved ones overseas</p>
        <span>
           <p><%= link_to "Sign Up!", new_user_path,:class => "btn btn-primary btn-large"  %></p>
          <small>if you are new to our website</small>
        </span>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Find Friends</h2>
          <p> Browse through the users to find your friends.  </p>
          <p><%= link_to "Check out our list of user", users_path,:class => "btn"  %></p>
        </div>
        <div class="span4">
          <h2>Get Started</h2>
          <p>Upload some pictures, and let's get started!</p>
          <p><%= link_to "Register", new_user_path,:class => "btn"  %></p>
       </div>
        <div class="span4">
          <h2>Public Gallery</h2>
          <p>View your gallery.</p>
          <%= link_to "Public gallery", public_gallery_path,:class => "btn"  %>
        </div>
      </div>



