  <div class="hero-unit">
        <h1>Site Map</h1>

        <hr>

         <div class="btn-group">
            <a href="/photoUploadix" class="btn btn-large btn-primary">Home</a>
            <a href="/photoUploadix/users/1/photos/news" class="btn btn-large btn-info">Upload Photos</a>
            <a href="/photoUploadix/users" class="btn btn-large btn-success">Find Friends</a>
            <a href="/photoUploadix/users/new" class="btn btn-large btn-warning">Get Started</a>
            <a href="/photoUploadix/public_gallery" class="btn btn-large btn-danger">Public Gallery</a>
         </div> 
      </div>

