// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_infos{
    width:200px;
}

#user_labels{
    float:left;
}

#user_data{
    float:right;
}