// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_infos{
    width:300px;
}

#user_labels{
    float:left;
    width:20px;
}

#user_data{
    float:right;
}


.registrationLeftColumn{
    width:30%;
}

.registrationRightColumn{
    width:50%;
}

