<%
  link = "<a href='"+confirm_registration_user_path(:id => @user.id,:registration_token => @user.registration_token)+"'>Confirm</a>"

%>


Hello <%@user.first_name %>,

Photouploadix team would like to thank you for your registration.
Please click the following link to verify your email address:
<%=
#change host for prod
  confirm_registration_user_url(:host => 'localhost:3109',:id => @user.id,:registration_token => @user.registration_token)


%>

If the above URL does not work, try copying and pasting it into your browser.


For any problems contact support@photouploadix.com.au