<h1> <%= @user.first_name %> <%= @user.last_name %> 's photos </h1>
<div id ="fancybox-content">balbla</div>
<div id ="user-gallery">
  <% @photos.each do |photo| %>
     <%= link_to image_tag( photo.photo.url(:thumb),:class =>"img-rounded","data-description"=>photo.description,"data-title"=>photo.photo_file_name,"data-big"=>photo.photo.url ),photo.photo.url(:large) %>
    
  <%  end %>
</div>

<br />
<br />

<%= link_to "Home",user_path(@user)  %>