<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
          <%= link_to 'photoUploadix', root_url,:class=>"brand btn-link btn"  %>
          <%=

            if current_user
              render :partial => 'site/header_logged_in'
            else
              render :partial => 'site/header_not_logged'
            end

          %>

      </div>
    </div>
  </div>
</header>
